:root {

  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --graphicdesigntext: hsl(167, 40%, 24%);
  --photographytext: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);

  --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkgrayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fraunces', serif;
}

main {
  width: 100%;
}

header {
  padding: 1rem;
  height: 100vmin;
  background-image: url(./images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: var(--White);
  position: relative;
  font-family: "Barlow", sans-serif;
  font-weight: lighter;
}

nav,
.logo,
.menu {
  height: 50px;
}

.logo,
.menu,
.menu ul,
.menu ul a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu a {
  font-size: 1rem;
  height: 35px;
  padding: 0 1.2rem;
  margin: 0 0.1rem;
  transition: 200ms;
  border-radius: 40px;
}
.menu a:nth-child(4),
.menu a:hover {
  background-color: white;
  color: black;
}
/* build burger menu with div and span element */
.togglemenu {
  height: 50px;
  width: 50px;
  position: relative;
  display: none;
  justify-content: flex-end;
  align-items: center;
}
.togglemenu span {
  position: absolute;
  width: 39px;
  height: 3px;
  background-color: var(--White);
  border-radius: 10px;
  transition: 200ms;
}
.togglemenu span:nth-child(1) {
  transform: translateY(-10px);
}
.togglemenu span:nth-child(3) {
  transform: translateY(10px);
}
/* make animation burgermenu when user click */
.togglemenu.active span:nth-child(1) {
  transform: rotate(45deg);
}
.togglemenu.active span:nth-child(2) {
  transform: translateX(200%);
}
.togglemenu.active span:nth-child(3) {
  transform: rotate(315deg);
}
.activemenu {
  /* make black filter overlay when open menu */
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 2;
}

header h1 {
  /* "we are creative" text */
  width: 95%;
  text-align: center;
  color: var(--White);
  font-size: 5rem;
  letter-spacing: -4px;
}
/* positioning header text and down-arrow */
header h1,
#arrow {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#arrow {
  /* down-arrow */
  top: 55%;
  height: 15%;
}
/* services */
#services {
  width: 100%;
}
.tile-container {
  width: 100%;
  display: flex;
  position: relative;
}
.tile {
  width: 100%;
  height: 100vmin;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.innertile {
  /* text container */
  margin: 10%;
}
.tile h3 {
  /* subtitle for each tile */
  font-size: 1.2rem;
}
.tile p {
  /* paragraf */
  font-size: 1rem;
  margin: 1rem 0;
  font-family: "Barlow", sans-serif;
}
.tile h4 {
  /* "learn more" text */
  font-size: .712rem;
}

/* style for last two .tile */
.graphic-design,
.photography {
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
}
.graphic-design .innertile,
.photography .innertile {
  height: 40%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.graphic-design h3,
.photography h3 {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graphic-design .p-container,
.photography .p-container {
  height: 60%;
}
.graphic-design p,
.photography p {
  margin: 0;
}

/* add background to .tile */
.egg {
  background-image: url(./images/desktop/image-transform.jpg);
}
.glass {
  background-image: url(./images/desktop/image-stand-out.jpg);
}
.graphic-design {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  color: var(--graphicdesigntext);
}
.photography {
  background-image: url(./images/desktop/image-photography.jpg);
  color: var(--photographytext);
}

/* testimonial */
.testimonies {
  padding: 6rem 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonies h2 {
  /* testimonies subtitle text */
  font-size: 3.5vmax;
}

.testi-container {
  /* container for clients card */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;
  padding: 6rem;
}
.client {
  /* clients card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}
.client img {
  /* clients avatars */
  width: 30%;
  border-radius: 50%;
}
.testimonies p {
  /* paragraf */
  font-size: 1rem;
  margin: 1.5rem 0;
}
.testimonies h4 {
  /* clients name */
  font-size: 1.34rem;
  margin-bottom: 0.1rem;
}
.testimonies h6 {
  /* clients position */
  font-size: .97rem;
  color: var(--Verydarkdesaturatedblue);
}

/* gallery */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.slide {
  height: 25vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide:nth-child(3) {
  background-image: url(./images/desktop/image-gallery-cone.jpg);
}
.slide:nth-child(1) {
  background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
}
.slide:nth-child(2) {
  background-image: url(./images/desktop/image-gallery-orange.jpg);
}
.slide:nth-child(4) {
  background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
}

/* footer */
footer {
  background-color: var(--footer);
  width: 100%;
  text-align: center;
  padding: 4rem 0;
  position: relative;
  color: var(--graphicdesigntext);
}
footer svg {
  fill: var(--graphicdesigntext);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 2rem 0 5rem 0;
}
footer li {
  padding: 1rem;
}
footer a:hover {
  color: white;
}
.contact {
  margin: 0 0 4rem 0;
}
.contact img {
  width: 25px;
  margin: 0 0.5rem;
}
.contact img:hover {
  filter: brightness(0) invert(100%);
}
.attribution {
  padding: 0 1rem;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  font-size: 14px;
  font-weight: lighter;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  nav {
    padding: 0rem;
  }
  header{
    height: 100vh;
  }
  header h1 {
    margin-top: 0;
    font-size: 3rem;
  }
  .menu a {
    padding: 0.5rem;
  }
  .menu a:nth-child(4) {
    padding: 1.2rem;
  }
  .testimonies {
    padding: 2rem 0 0 0;
  }
  .testi-container {
    grid-template-columns: 1fr 1fr;
    padding: 2rem 3rem;
    grid-gap: 2rem 1rem;
  }
  .client img {
    margin-bottom: 1rem;
  }
  .client p {
    padding: 0 1rem;
  }
  .profile {
    margin-top: 1rem;
  }
}

@media (max-width: 457px) {
  header {
    background-image: url(./images/mobile/image-header.jpg);
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 98px;
    background-color: #fff;
    color: black;
    width: 100%;
    height: 0;
    z-index: 3;
    overflow: hidden;
    transition: 200ms;
  }
  .menu.active ul {
    height: 300px;
  }
  .menu a {
    padding: 1.37rem 2.35rem;
    margin: 0.5rem 0;
  }
  .menu ul a:nth-child(4) {
    background-color: yellow;
  }
  .togglemenu {
    display: flex;
    z-index: 3;
  }
  .activemenu.active {
    display: block;
  }
  .menu::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    border-top: 15px solid transparent;
    position: absolute;
    bottom: -52px;
    right: 0;
    z-index: 3;
    transition: 100ms;
  }
  .menu.active::after {
    border-right: 10px solid white;
    border-bottom: 15px solid white;
  }
  .tile-container {
    flex-direction: column;
  }
  .tile-container:nth-child(1) {
    flex-direction: column-reverse;
  }
  .graphic-design,
  .photography {
    height: 75vmax;
  }
  .testi-container {
    grid-template-columns: 1fr;
    padding: 2.5rem 1rem;
    grid-gap: 1rem;
  }
  .client {
    margin: 1.5rem 0;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .slide {
    height: 50vw;
  }
  footer ul {
    flex-direction: column;
  }
}
